<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <conversionRule conversionWord="msg"
                  converterClass="com.crosscert.passkey.rpapp.web.SecretMaskingConverter"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%X{traceId:-}] [%X{tenantId:-}] [%X{actorEmail:-}] [%X{apiKeyPrefix:-}] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
  <logger name="com.crosscert.passkey" level="INFO"/>
</configuration>
